@use '../../../../core/ui/styles/page-base';

.board-page__create-form {
    display: flex;
    gap: 12px;
}

.board-page__create-form-input {
    flex: 1;
}

@media (max-width: 768px) {
    .board-page__create-form {
        flex-direction: column;
    }
}