<section class="board-column">
  <header class="board-column__header">
    @if (isRenaming()) {
      <app-rename-column-inline
        [initialName]="column().name"
        [isSubmitting]="isUpdating()"
        (save)="saveRename.emit($event)"
        (cancel)="cancelRename.emit()"
      />
    } @else {
      <div class="board-column__header-row">
        <div class="board-column__title-group">
          <h2 class="board-column__title">{{ column().name }}</h2>
          <span class="board-column__count">{{ column().cards.length }}</span>
        </div>

        <app-column-actions-menu
          (rename)="startRename.emit()"
          (deleteColumn)="deleteColumn.emit()"
        />
      </div>
    }
  </header>

  <div class="board-column__body">
    <ng-content />
  </div>
</section>